# Ignore token/config files
.env

# Report files
*.report
reports/attachments/*

# Python cache
__pycache__/
*.pyc
.mypy_cache

# Test files
test.py

# random ahh stuff
todo
lib/


# IDE and OS files
.vscode/
*.swp
.DS_Store